
~/.config/nvim/autoload/plugged/barbar.nvim

~/.config/nvim/autoload/plugged/dashboard-nvim

autoload/plugged/git-messenger.vim
autoload/plugged/nvim-colorizer.lua
autoload/plugged/nvim-lspconfig
autoload/plugged/tagalong.vim
